<clr-main-container>
    <clr-header>
        <div class="header-nav" [clr-nav-level]="1">
            <h1>{{ 'ui.admin.admin' | translate:{'name':'HomniStore'} }}</h1>
        </div>
        <cds-select control-width="shrink">
            <label>{{ 'ui.admin.lang' | translate }}</label>
            <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
                <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
                    {{ language | uppercase }}
                </option>
            </select>
        </cds-select>
    </clr-header>
    <div class="content-container">
        <main class="content-area">
            <app-show-product [products]="products" ></app-show-product>
        </main>
        <nav class="sidenav" [clr-nav-level]="2">
            <section class="sidenav-content">
                <a href="" class="nav-link active">
                    {{ 'ui.admin.products' | translate }}
                </a>
                <a href="" class="nav-link">
                    {{ 'ui.admin.orders' | translate }}
                </a>
                <a href="" class="nav-link">
                    {{ 'ui.admin.customers' | translate }}
                </a>
                <a href="" class="nav-link">
                    {{ 'ui.admin.category' | translate }}
                </a>
            </section>
        </nav>
    </div>
</clr-main-container>
