<clr-main-container>
    <clr-header>
        <div class="header-nav" [clr-nav-level]="1">
            <h1>{{ 'ui.admin' | translate }} - {{ 'ui.store' | translate }}</h1>
        </div>
    </clr-header>
    <div class="content-container">
        <main class="content-area">
            <app-show-product [products]="products" ></app-show-product>
        </main>
        <nav class="sidenav" [clr-nav-level]="2">
            <section class="sidenav-content">
                <a href="" class="nav-link active">
                    {{ 'ui.products' | translate }}
                </a>
                <a href="" class="nav-link">
                    {{ 'ui.orders' | translate }}
                </a>
                <a href="" class="nav-link">
                    {{ 'ui.customers' | translate }}
                </a>
                <a href="" class="nav-link">
                    {{ 'ui.category' | translate }}
                </a>
            </section>
        </nav>
    </div>
</clr-main-container>
