<clr-main-container>
    <clr-header>
        <div class="header-nav" [clr-nav-level]="1">
            <h1>Admin OmniStore</h1>
        </div>
    </clr-header>
    <div class="content-container">
        <main class="content-area">
            <app-show-product [products]="products" ></app-show-product>
        </main>
        <nav class="sidenav" [clr-nav-level]="2">
            <section class="sidenav-content">
                <a href="" class="nav-link active">
                    Products
                </a>
                <a href="" class="nav-link">
                    Orders
                </a>
                <a href="" class="nav-link">
                    Customers
                </a>
                <a href="" class="nav-link">
                    Procuct Category
                </a>
            </section>
        </nav>
    </div>
</clr-main-container>
